<h1>Editing a Dream in your Journal</h1>
<%= form_for [@user, @dream] do |f| %>
    <%= f.label :title %><br />
    <%= f.text_field :title, class:'form-control' %><br />
    <%= f.label :content, "Description" %><br />
    <%= f.text_area :content, class:'form-control' %><br />
    <%= f.label :date %><br />
    <%= f.date_select :date, class:'form-control' %><br />
    <%= f.label :public %><br />
    <%= f.check_box :public, class:'form-control' %><br />
    <% if @dream.icon.exists? %>
      <%= image_tag @dream.icon.url %>
    <% end %>
    <%= f.label :attachment %><br />
    <%= f.file_field :icon %><br/>
    <div id='dream_characters'>
        <%= f.label :dream_characters %>
        <%= f.fields_for :dream_characters do |d| %>
          <%= render 'dream_character_fields', :f => d %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add Character', f, :dream_characters, class:'btn btn-success' %>
        </div>
    </div><br />
    <div id='dream_locations'>
        <%= f.label :dream_locations %>
        <%= f.fields_for :dream_locations do |d| %>
          <%= render 'dream_locations_fields', :f => d %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add Locations', f, :dream_locations, class:'btn btn-success' %>
        </div>
    </div><br />
    <div id='dream_has_tags'>
        <%= f.label :dream_has_tags %>
        <%= f.fields_for :dream_has_tags do |d| %>
          <%= render 'dream_locations_fields', :f => d %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add Tags', f, :dream_has_tags, class:'btn btn-success' %>
        </div>
    </div><br />
    <%= f.submit "Submit", class:'btn btn-primary' %>
<% end %>
