<h1>Editing a Dream in your Journal</h1>
<%= form_for [@user, @dream] do |f| %>
    <%= f.label :title %><br />
    <%= f.text_field :title, class:'form-control' %><br />
    <%= f.label :content, "Description" %><br />
    <%= f.text_area :content, class:'form-control' %><br />
    <%= f.label :date %><br />
    <%= f.date_select :date, class:'form-control' %><br />
    <%= f.label :public %><br />
    <%= f.check_box :public, class:'form-control' %><br />
    <%= f.submit "Submit", class:'btn btn-primary' %>
<% end %>