<h1>Editing a Dream in your Journal</h1>
<%= form_for [@user, @dream] do |f| %>
    <%= f.label :title %><br />
    <%= f.text_field :title, class:'form-control' %><br />
    <%= f.label :content, "Description" %><br />
    <%= f.text_area :content, class:'form-control' %><br />
    <%= f.label :date %><br />
    <%= f.date_select :date, class:'form-control' %><br />
    <%= f.label :public %><br />
    <%= f.check_box :public, class:'form-control' %><br />
    <div id='dream_characters'>
        <%= f.label :dream_characters %>
        <%= f.fields_for :dream_characters do |d| %>
          <%= render 'dream_character_fields', :f => d %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add Character', f, :dream_characters, class:'btn btn-success' %>
        </div>
    </div><br />
    <%= f.submit "Submit", class:'btn btn-primary' %>
<% end %>