<% if policy(@user).edit? %>
    <%= link_to 'Edit', edit_user_registration_path(@user), class:'btn btn-warning', style:'float: right;' %>
<% end %>
<h2 style="text-align: center;"><%= render 'devise/shared/user_avatar' %> <%= @user.username %>'s profile <span class="badge"><%= @user.points %></span></h2>

<div class="profile">
    
    <%= @user.bio %>
    
    <% if current_user && @user != current_user and !current_user.friends.include?(@user) %>
        <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
    <% elsif  current_user && @user != current_user and current_user.friends.include?(@user)  %>
        <%= link_to "Remove Friend", friendship_path(friend_id: @user), :method => :delete %>
    <% end %>
    <div class="row">
        <div class="col-xs-4">
            <h3 style="text-align: center;">Friends</h3>
            <% @friends.each do |friend| %>
                <%= friend.username %>
            <% end %>
        </div>
        <div class="col-xs-4">
            <h3 style="text-align: center;">Followers</h3>
            <% @followers.each do |friend| %>
                <%= friend.username %>
            <% end %>
        </div>
        <div class="col-xs-4">
            <h3 style="text-align: center;">Following</h3>
            <% @following.each do |friend| %>
                <%= friend.username %>
            <% end %>
        </div>
    </div>
</div>