<h2><%= @user.username.upcase %>'S  PROFILE</h2>

<div class="profile">
    <%= @user.username %>
    <%= @user.points %>
    <%= @user.bio %>
    
    <%= render 'devise/shared/user_avatar' %>
    
    <% if policy(@user).edit? %>
        <%= link_to 'Edit', edit_user_registration_path(@user) %>
    <% end %>
    
    <% if current_user && @user != current_user and !current_user.friends.include?(@user) %>
        <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
    <% elsif  current_user && @user != current_user and current_user.friends.include?(@user)  %>
        <%= link_to "Remove Friend", friendship_path(friend_id: @user), :method => :delete %>
    <% end %>
    
    <h3>Friends</h3>
    <% @friends.each do |friend| %>
        <%= friend.username %>
    <% end %>
    
    <h3>Followers</h3>
    <% @followers.each do |friend| %>
        <%= friend.username %>
    <% end %>
    
    <h3>Following</h3>
    <% @following.each do |friend| %>
        <%= friend.username %>
    <% end %>
</div>