<h2><%= @user.username.upcase %>'S  PROFILE</h2>

<div class="profile">
    <%= @user.username %>
    <%= @user.points %>
    <%= @user.bio %>
    
    <% if @user.avatar %>
        <%= image_tag current_user.avatar.url %>
    <% else %>
        <%= image_tag current_user.gravatar_url %>
    <% end %>
    
</div>