<h2><%= @user.username.upcase %>'S  PROFILE</h2>

<div class="profile">
    <%= @user.username %>
    <%= @user.points %>
    <%= @user.bio %>
    
    <% if @user.avatar.exists? %>
        <%= image_tag current_user.avatar.url(:medium) %>
    <% else %>
        <%= image_tag current_user.gravatar_url(default: identicon) %>
    <% end %>
    
    <% if policy(@user).edit? %>
    <%= link_to 'Edit', edit_user_registration_path(@user) %>
    <% end %>
</div>