<h3>Sidebar</h3>
<% if user_signed_in? %> 
    <%= link_to('Signout', destroy_user_session_path, :method => :delete) %>
<% else %>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email %><br />
      <%= f.password_field :password %><br />
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %><br />
      <%= f.submit 'Sign in' %><br />
      <%= link_to('Register', new_user_registration_path)  %>
    <% end %>
<% end %>
