<% if policy(@character).edit? %>
    <%= link_to edit_user_character_path(user_id: @user.id, id: @character.id), class:'btn btn-warning', style:'float:right; margin-left:5px;' do %><i class="fa fa-pencil"></i> Edit<% end %>
<% end %>
<%if policy(@character).show? %>
    <% if @character.real %>
        <div class="btn btn-danger" style="float: right;">Real Character</div>
    <% end %>
    <h1><%= @character.name %></h1>
    <div class="row">
        <div class="col-xs-6">
            <h3>Description</h3>
            <p><%= @character.description %></p>
        </div>
        <div class="col-xs-6">
            <h3>Personality</h3>
            <p><%= @character.personality %></p>
        </div>
    </div>
    <h2>Dreams where <%= @character.name %> appears</h2>
    <% @character.dreams.each do |dream| %>
        <%= link_to dream.title, user_dream_path(user_id:dream.user.id, id: dream.id) %>
        <hr />
    <% end %>
<% end %>

