<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="new_form ">
	 <div class="field">
	   <%= f.label :title %><br>
	   <%= f.text_field :title, class: 'form-control' %>
	 </div>
	 <div class="field">
	   <%= f.label :categories, "Categories" %><br>
	   <%= f.collection_select(:categories, Category.all, :id, :name, {:selected => @post.categories, :include_blank => true}, {multiple: true, id: 'categories', class: 'form-control' }) %>
	   
	 </div>
	 <div class="field">
	   <%= f.label :draft %><br>
	   <%= f.check_box :draft, class: 'form-control' %>
	 </div>
	 <div class="field" data-no-turbolink>
	    <%= f.label :content %><br>
	    <%= f.text_area :content, class: 'form-control' %>
	    <br />
	 </div>
	  
	 <div class="actions">
	    <button class="submit" type="submit" value="Submit" class="btn btn-primary">Save Post</button>
	  </div>
  </div>
  <% end %>
  <script type="text/javascript">
    $('#categories').select2();
  </script>


