<h1><%= @achievement.name %></h1>

<%= @achievement.description %>

<%= image_tag @achievement.icon.url %>

<h2>Achievers</h2>
<%= @achievement.users.each do |u| %>
    <%= u.username %>
    <hr/>
<% end %>
