<!DOCTYPE html>
<html>
<head>
  <title>Oneironauts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/navigation' %>
    <div id="main-container" class="container">
      <div class="row">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <div class="col-xs-3">
            <%= render 'shared/left_sidebar_default' %>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>

</body>
</html>
